<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xll.needer.assistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:name=".AssistantApplication"
        tools:replace="android:icon, android:theme"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="sugar_assistant.db" />
        <meta-data android:name="VERSION" android:value="1"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.xll.needer.assistant"/>

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LedgeActivity" />
        <activity android:name=".ui.PhotoActivity" />
        <activity android:name=".ui.SportActivity" />
        <activity android:name=".ui.KnowledgeActivity" />
        <activity android:name=".ui.PlanActivity" />
        <activity android:name=".ui.AppLockActivity"/>
    </application>

</manifest>